specVersion: 0.0.2
description: $BADGER Token Contracts
schema:
  file: ./schema.graphql
dataSources:
  {% for contract in setts %}
  - kind: ethereum/contract
    name: {{ contract.name }}
    network: mainnet
    source:
      address: "{{ contract.address }}"
      abi: BadgerSett
      startBlock: {{ contract.startBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.4
      language: wasm/assemblyscript
      entities:
        - Sett
        - User
        - Token
        - UserSettBalance
      abis:
        - name: ERC20
          file: ./abis/ERC20.json
        - name: BadgerSett
          file: ./abis/BadgerSett.json
      eventHandlers:
        - event: Transfer(indexed address,indexed address,uint256)
          handler: handleTransfer
      file: ./src/setts.ts
  {% endfor %}
  {% for contract in geysers %}
  - kind: ethereum/contract
    name: {{ contract.name }}
    network: mainnet
    source:
      address: "{{ contract.address }}"
      abi: BadgerGeyser
      startBlock: {{ contract.startBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.4
      language: wasm/assemblyscript
      entities:
        - Token
        - Geyser
      abis:
        - name: ERC20
          file: ./abis/ERC20.json
        - name: BadgerGeyser
          file: ./abis/BadgerGeyser.json
      eventHandlers:
        - event: Staked(indexed address,uint256,uint256,indexed uint256,indexed uint256,bytes)
          handler: handleStaked
        - event: Unstaked(indexed address,uint256,uint256,indexed uint256,indexed uint256,bytes)
          handler: handleUnstaked
      file: ./src/geysers.ts
  {% endfor %}
