specVersion: 0.0.2
description: $BADGER Token Contracts
schema:
  file: ../schema.graphql
dataSources:
  {% for contract in setts %}
  - kind: ethereum/contract
    name: {{ contract.name }}
    network: {{ chain }}
    source:
      address: "{{ contract.address }}"
      abi: BadgerSett
      startBlock: {{ contract.startBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.4
      language: wasm/assemblyscript
      entities:
        - Sett
        - User
        - Token
        - UserSettBalance
      abis:
        - name: ERC20
          file: ../abis/ERC20.json
        - name: BadgerSett
          file: ../abis/BadgerSett.json
      eventHandlers:
        - event: Transfer(indexed address,indexed address,uint256)
          handler: handleTransfer
      file: ../src/setts.ts
  {% endfor %}
  {% for contract in geysers %}
  - kind: ethereum/contract
    name: {{ contract.name }}
    network: {{ chain }}
    source:
      address: "{{ contract.address }}"
      abi: BadgerGeyser
      startBlock: {{ contract.startBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.4
      language: wasm/assemblyscript
      entities:
        - Token
        - Geyser
      abis:
        - name: ERC20
          file: ../abis/ERC20.json
        - name: BadgerGeyser
          file: ../abis/BadgerGeyser.json
        - name: Digg
          file: ../abis/Digg.json
      eventHandlers:
        - event: Staked(indexed address,uint256,uint256,indexed uint256,indexed uint256,bytes)
          handler: handleStaked
        - event: Unstaked(indexed address,uint256,uint256,indexed uint256,indexed uint256,bytes)
          handler: handleUnstaked
      file: ../src/geysers.ts
  {% endfor %}

  {% for contract in affiliate_vaults %}
  - kind: ethereum/contract
    name: {{ contract.name }}
    network: {{ chain }}
    source:
      address: "{{ contract.address }}"
      abi: AffiliateVault
      startBlock: {{ contract.startBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.4
      language: wasm/assemblyscript
      entities:
        - Burn
        - Deposit
        - Mint
        - UpdateGuestList
        - Withdraw
        - Transfer
      abis:
        - name: AffiliateVault
          file: ../abis/AffiliateVault.json
        - name: ERC20
          file: ../abis/ERC20.json
        - name: BadgerSett
          file: ../abis/BadgerSett.json
      eventHandlers:
        - event: Burn(indexed address,uint256)
          handler: handleBurn
        - event: Deposit(indexed address,uint256)
          handler: handleDeposit
        - event: Mint(indexed address,uint256)
          handler: handleMint
        - event: Transfer(indexed address,indexed address,uint256)
          handler: handleTransfer
        - event: UpdateGuestList(address)
          handler: handleUpdateGuestList
        - event: Withdraw(indexed address,uint256)
          handler: handleWithdraw
      file: ../src/yearn-affiliate.ts
  {% endfor %}
